################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/presentation_layer/.vs/presentation_layer/FileContentIndex/5c33d1d2-52ce-4bc2-b783-af2ba9a18375.vsidx
